body {
  margin: 0;
  padding: 0;
}

img {
  height: 60px;
}

h1 {
  margin-left: 2rem;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #04aa6d;
}
